.background_overlay {
    background-color: #212e3f;
    opacity: 0.95;
    border-radius: 20px;
}

.papalote_pet{
    width:150;
}
.custom_tag{
    max-width: 100%;
    height: 200px;
    background: black;
    border-radius: 25px;
}


.tag_text{
    color:white
}

.text_size{
    font-size: 10px;
}

.title_size{
    font-size: 15px;
}

.papalote_map{
    width: 50rem;
}